<h1>Contact me</h1>
<div class="row">
  <div class="col-md-4 table-header">
    Name:
  </div>
  <div class="col-md-4">
    Snow
  </div>
</div>
<div class="row">
  <div class="col-md-4 table-header">
    Github:
  </div>
  <div class="col-md-4">
    <a href="https://github.com/Snieezy" target="blank">Snieezy</a>
  </div>
</div>
