<html>
  <head>
  </head>
  <title>
    Shop
  </title>
  <body>
    <table width=100% border="1" border-color="black">
      <tr>
        <td><a href="/">Warehouse</a></td>
        <td><a href="/basket">Your Basket</a></td>
        <td>To pay:</td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
