#container {
  position:relative;
  min-height: 100%;
  height: 100%;
}

#body {
  padding: 10px;
  padding-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {
  text-align: center;
  color: white;
}

footer {
  vertical-align: middle;
  width: 100%;
  background-color: #872F1F;
  color: white;
  padding-left: 10px;
}

nav {
  text-align: center;
  margin: auto;
  width: 100%;
  min-width: 100px;
  padding: 10px;
  background-color: #872F1F;
}

h1 {
  font-size: 20px;
}

.baner {
  width: 100%;
  margin: auto;
  padding: 0;
}
.nav-element {
  color: white;
  padding: 1%;
  max-height: 30px;
}

.nav-element:hover {
  color: white;
  background-color: #3A0900;
  text-decoration: none;
}

.nav-element:onclick {
  background-color: #AC5140;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   background-color: #872F1F;
   border-color:  #872F1F;
   color: white;
}

.btn:hover {
  background-color: #3A0900;
  border-color: #552E00;
  color: white;
}

.btn:onclick {
  background-color: #D4A46A;
}

.link {
  text-decoration: none;
}

.row {
  padding-top: 20px;
}

.table {
  width: 100%;
  margin: auto;
}

.table-row:hover {
  background-color: #FEBCB0;
}

.table-column-product {
  padding-top: 20px;
  border: 10px solid white;
}

.table-header {
  font-weight: bold;
}

.table-product {
  margin-bottom: 20px;
  vertical-align: middle;
}

.gradient {

}

/*Not using it at the moment*/
.button-submit {
  background-color: #2B4B6F;
  color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  border: 2px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #ffffff;
  color: #2B4B6F;
}
