.button-submit {
  background-color: #2B4B6F;
  color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  border: 2px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #ffffff;
  color: #2B4B6F;
}

.baner-table{
  border: 3px;
  border-color: #ffffff;
  width: 100%;
}

body {
    background-color: yellow;
}

a {
  color: red;
}
