<h1><%= product.name %></h1>
Some product info
<form action="/<%= product.id %>/delete" method="post">
  <label for="amount">amount:</label>
  <input type="number" name="amount" value="1" id="amount">
  <input type="submit" value="Delete">
</form>

<%= result %>
