<div class="col-md-4 table-column-product">
  <form action="/<%= product.id %>/delete" method="post">
    <input name="_method" type="hidden" value="delete" />
    <input type="number" name="amount" value="1" id="amount">
    <button class="btn" type="submit">Delete</button>
  </form>
  <%= flash.now[:result] %>
</div>
