<h1><%= product.name %></h1>
Some product info

<form action="/<%= product.id %>" method="post">
  <label for="amount">amount:</label>
  <input type="number" name="amount" value="1" id="amount">
  <button class="button-submit" type="submit">Add to basket</button>
</form>
<%= flash.now[:result] %>
